.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 50px; 
  margin-top: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
}

.modalList:hover {
  color: rgba(41,46,73,1)
}

a {
  color:black
}

.topButtons:hover {
  background: rgba(41,46,73,1);
  border-color: rgba(41,46,73,1);
  outline: 0 none;
}

.topButtons:active {
  background: rgba(41,46,73,1) !important; 
  border-color: rgba(41,46,73,1) !important;
  outline: 0 none !important;
}

.topButtons:focus {
  box-shadow: none !important;
  outline: 0 none !important;
}

.topButtons {
  color: rgba(41,46,73,1);
  border-color: rgba(41,46,73,1);
  /* margin-left: 10px; */
  margin-right: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.projectButton {
  border-color:white;
  text-align: left;
  color: black;
}

.projectButton:hover {
  border-color: rgba(41,46,73,1);
  background-color: white;
  color: black;
}

.projectButton:active {
  background-color: white !important; 
  border-color: rgba(41,46,73,1) !important;
  color: black !important;
}

.projectButton:focus {
  box-shadow: none !important;
  outline: 0 none !important;
}

h4, h1, h3, p, h2 {
  color: rgba(41,46,73,1)
}

h3 { display: inline; }